parameters:
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        - '#PHPDoc tag @Glue has invalid value#'
        - '#PHPDoc tag @SuppressWarnings has invalid value#'
    level: 7
